{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "S3_AUTH_BUCKET",
    "Key": "config.json"
  },
  "Image": {
    "Name": "AWS_ACCOUNT_ID.dkr.ecr.AWS_DEFAULT_REGION.amazonaws.com/openvas",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "80"
    }
  ]
}
